#overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e7e7e7;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

.spinner {
    margin: 0 auto;
    top: 50%;
}
